* {
    box-sizing: border-box;
}
.input {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 2%;    
}
.example-card {
    width: 23%;
    margin: 1%;
    height: 300px;
    overflow: hidden;
    padding: 10px;
}
.example-card img {
    text-align: center;
    width: 100%;
    height: 180px;
    margin: 0;
    margin-bottom: 10px;
}

img {
    height: 250px;
}