* {
    box-sizing: border-box;
}
.detail {
    /* margin: 5%; */
}
.video {
    float: left;
    width: 33%;
    padding: 0% 0.5%;
}
.conten {
    float: left;
    padding: 5px;
    padding-left: 25px;
    width: 64%;
    margin-left: 1%;
    border: 0px solid black;
    border-radius: 10px;
    height: 250px;
    box-shadow:  0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    overflow-y: scroll;
}

 